@import '../../_config.sass'

.history-main-div
    @extend %page-template
    background-color: $explorePrimaryColor
    padding: 80px 0

.empty-history-wrapper
    display: grid
    grid-template-rows: 5fr 1fr 1fr
    justify-items: center

    img
        height: 300px
        width: auto

    .empty-history-text
        text-align: center
        color: $deactivatedItemColor
        font-size: 20px
        align-self: center

        &.heading
            font-size: 30px
            align-self: center

.history-table-wrapper
    margin: 0 50px

    .ui.table 
        min-width: 1000px

    .ui.table thead th
        padding: 20px

    .ui.button
        line-height: normal

    .ui.table .map.marker
        font-size: 1.3em

    .ui.table .trash
        color: $primaryDarkColor

        &:hover
            color: $primaryErrorColor

    .ui.basic.button
        box-shadow: 0 0 0 2px $primaryColor inset!important
        color: $primaryColor!important

        &:focus
            box-shadow: 0 0 0 2px $primaryColor inset!important
            background-color: transparent!important
            color: $primaryColor!important

        &:hover
            box-shadow: 0 0 0 2px $primaryColor inset!important
            color: #fff!important
            background-color: $primaryColor !important

        &:active
            +transform(scale(0.9))


    .ui.pagination .item
        padding: 0px
        justify-content: center

.popup
    padding: 5px 10px!important