@import '../../_config.sass'

.public-home-main-div
    @extend %page-template
    grid-template-rows: 1fr 7fr
    grid-template-columns: 1fr 1fr

.cover-image-wrapper
    display: grid
    grid-template-rows: 16fr 1fr

.cover-image
    height: 400px
    width: auto
    justify-self: center
    margin-top: 10px
    /* clip-path: polygon(10% 17%, 90% 12%, 91% 85%, 70% 86%, 22% 80%, 9% 59%) */

.cover-image-credit
    @extend %image-credit
    margin-top: -15px
    margin-right: 50px //110px

.intro-wrapper
    color: $primaryDarkColor
    justify-self: end
    align-self: start
    display: grid
    grid-template-rows: 4fr 3fr 2fr
    max-height: 500px

.intro-heading
    font-size: 5em
    font-weight: bold
    letter-spacing: .05em
    padding: 0 120px

.intro-text
    font-size: 22px
    margin-left: 120px
    text-align: justify
    align-self: end
    padding-left: 15px
    border-left: 5px solid $primaryDarkColor

.intro-btn
    @extend %button-with-border
    font-size: 1.5em
    border-width: 4px
    padding: 5px 30px
    justify-self: start
    margin-left: 120px
    align-self: end
    height: 60px
    z-index: 5

    &:hover
        @extend %button-with-border-hover

@media screen and (max-width: 1300px)
    .public-home-main-div
        grid-template-columns: 1fr

    .intro-wrapper
        justify-self: center
        grid-template-rows: 2fr 1fr

    .intro-heading
        padding: 10px 0 0 0

    .intro-text, br
        display: none

    .intro-btn
        margin-left: 0px
        padding: 5px 65px
        justify-self: center
        align-self: center
    
    .cover-image
        margin-top: -30px

    .cover-image-credit
        display: none

@media screen and (max-width: 750px)
    .intro-wrapper
        grid-template-rows: 3fr 1fr

    .intro-heading
        font-size: 4em
        align-self: center

    .intro-btn
        font-size: 1.3em
        height: 50px

    .cover-image
        height: 350px
        margin-top: 0px

@media screen and (max-width: 650px)
    .intro-heading
        font-size: 3.5em

    .cover-image
        height: 300px

@media screen and (max-width: 550px)
    br
        display: inline-block

    .public-home-main-div
        grid-template-rows: 1fr

    .intro-wrapper
        justify-self: start
        grid-template-rows: 3.5fr 1fr

    .placeholder
        display: none

    .intro-heading
        font-size: 3.5em
        justify-self: start
        padding: 0 40px

    .intro-btn
        justify-self: start
        margin-left: 40px
        padding: 5px 40px

    .cover-image
        height: 250px
        justify-self: start
        margin-top: -10px
        margin-left: -20px

@media screen and (max-width: 450px)
    .cover-image
        height: 200px
        margin-top: 10px

@media screen and (max-width: 350px)
    .cover-image
        margin-left: -40px