@import '../../_config.sass'

.public-home-main-div
    @extend %page-template
    grid-template-rows: 1fr 7fr
    grid-template-columns: 1fr 1fr

.cover-image-wrapper
    display: grid
    grid-template-rows: 16fr 1fr

.cover-image
    height: 500px
    width: auto
    justify-self: center
    margin-top: 10px
    /* clip-path: polygon(10% 17%, 90% 12%, 91% 85%, 70% 86%, 22% 80%, 9% 59%) */

.cover-image-credit
    @extend %image-credit
    margin-top: -70px
    margin-right: 55px //110px

.intro-wrapper
    color: $primaryDarkColor
    justify-self: end
    align-self: start
    display: grid
    grid-template-rows: 4fr 3.5fr 2fr
    max-height: 500px

.intro-heading
    font-size: 5em
    font-weight: bold
    letter-spacing: .05em
    padding: 0 120px

.intro-text
    font-size: 25px
    margin-left: 120px
    text-align: justify
    align-self: end
    padding-left: 15px
    border-left: 5px solid $primaryDarkColor

.intro-btn
    @extend %button-with-border
    font-size: 1.5em
    border-width: 4px
    padding: 5px 30px
    justify-self: start
    margin-left: 120px
    align-self: end
    height: 60px

    &:hover
        @extend %button-with-border-hover