@import '../../_config.sass'

.explore-main-div
    @extend %page-template
    background-color: $explorePrimaryColor
    grid-template-columns: 2.5fr 3fr
    padding-bottom: 25px
    
.explore-content
    padding: 5px 0 15px 0
    display: grid
    grid-template-rows: 1fr 7fr
    height: $mainMapHeight