@import '../../_config.sass'

.map-main-div
    display: grid
    position: relative
    width: $mainMapWidth
    height: $mainMapHeight + 20px
    overflow: hidden

.spinner-wrapper
    width: 100%
    height: 100%
    position: absolute
    margin-top: 250px
    text-align: center

.map-content
    border-radius: 5px
    padding-top: 20px
    justify-self: end

    .map
        width: $mainMapWidth
        height: $mainMapHeight

    .map-error
        color: $primaryDarkColor
        font-size: 20px
        text-align: center

    .balloon
        color: $primaryDarkColor
        font-size: 15px
        display: grid

        #balloon-button
            @extend %button-with-border
            border-radius: 3px
            justify-self: center
            font-size: 14px
            cursor: pointer
            margin-top: -15px
            padding: 3px

            &:hover:enabled
                @extend %button-with-border-hover

            &:disabled
                border-color: $deactivatedItemColor
                color: $deactivatedItemColor


@media (max-width: 950px)
    .map-main-div
        overflow: visible
        height: 300px
        position: static

    .spinner-wrapper
        height: 300px
        margin-top: 40px

    .map-content
        padding: 0 20px

        .map
            height: 300px


@media (max-width: 450px)
    .map-content .map-error
        font-size: 18px