@import '../../_config.sass'

.map-main-div
    display: grid
    position: relative
    width: 900px
    height: 650px
    overflow: hidden

    .map
        width: 900px
        height: 650px

@media only screen and (max-width: 1200px)
    .map-main-div
        width: 600px
        .map
            width: 600px

.spinner-wrapper
    width: 100%
    height: 100%
    position: absolute
    margin-top: 250px
    text-align: center

.map-content
    border-radius: 5px
    padding-top: 20px
    justify-self: end