@import '../../_config.sass'

$mainInfoHeight: $mainMapHeight - 70px
$infoWrapperHeight: $mainInfoHeight - 10px
$infoHeaderHeight: 50px

.house-info-main-div
    padding: 0 20px 5px 20px
    height: $mainInfoHeight
    max-width: 700px
    min-width: 485px

    p
        color: $primaryDarkColor
        font-size: 18px

.house-info-wrapper
    height: $infoWrapperHeight
    display: grid
    grid-template-rows: 1fr 9fr
    align-items: center
    background-color: transparent
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2)
    border-radius: 4px
    padding: 10px 10px 5px 10px
    overflow: hidden

.house-info-header
    @extend %small-caps-text
    font-size: 30px
    font-weight: bold
    text-align: center
    height: $infoHeaderHeight

    .header-highlight
        background: linear-gradient(180deg, $explorePrimaryColor 60%, $primaryColor 40%)

.house-info-content-header
    display: grid
    grid-template-columns: 5fr 1fr

    .content-header
        justify-self: end
        margin-right: 30px
        width: fit-content

    img
        cursor: pointer
        align-self: start
        margin-top: -10px
        justify-self: center
        height: 40px
        width: auto

.house-info-start-header,
.house-info-error-header
    font-size: 30px
    letter-spacing: 0.15em
    align-self: center
    margin-top: 10px

.house-info-start-content,
.house-info-error-content
    display: grid
    justify-items: center
    align-items: center
    grid-template-rows: 1.5fr 1fr
    height: $infoWrapperHeight - $infoHeaderHeight
    
    p
        padding: 0 110px
        text-align: center
        align-self: start

    .help-text
        color: $deactivatedItemColor

    img
        height: 200px
        width: auto

.house-info-house-content
    display: grid
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr
    grid-gap: 5px
    align-items: center
    height: $infoWrapperHeight - $infoHeaderHeight

    .double-row
        display: grid
        grid-template-columns: 110px 150px
        grid-gap: 15px

        .key
            justify-self: start
            font-weight: bold

        a
            width: fit-content
            justify-self: center
            text-decoration: none
            padding-bottom: 5px
            border-bottom: 1px solid $primaryColor
            box-shadow: 0 -3px 0 $primaryColor inset
            color: inherit

            &:hover
                border-bottom: none
                box-shadow: none
                transition: 0.3s ease-in-out
            

.house-info-block
    display: grid
    grid-template-columns: 1fr 3fr
    justify-items: center
    align-items: center

    p
        text-align: center
        margin-right: 20px

    img
        height: 50px
        width: auto

@media (max-width: 1500px)
    .house-info-start-content,
    .house-info-error-content
        p
            padding: 0 60px

@media screen and (max-width: 950px)
    .house-info-main-div
        max-width: 950px
        min-width: 200px
        height: 200px
    
    .house-info-wrapper
        height: 200px

    .house-info-start-content,
    .house-info-error-content
        height: 200px

        img
            display: none

        p
            align-self: end

    .house-info-content-header
        justify-self: center
        
    .house-info-house-content
        grid-gap: 10px
        height: auto

        .house-info-block
            grid-template-columns: 1fr
            
            &.address
                display: none

        img
            display: none

@media screen and (max-width: 550px)
    .house-info-start-content,
    .house-info-error-content
        p
            font-size: 16px

    .house-info-content-header
        grid-template-columns: 1fr

        .content-header
            justify-self: center

        img
            display: none

    .house-info-house-content
        .alert
            display: none

@media screen and (max-width: 450px)
    .house-info-start-content,
    .house-info-error-content
        
        p
            padding: 0 20px
            align-self: center

        .help-text, br
            display: none

    .house-info-header
        font-size: 25px

        