
$primaryColor: #AAC6FC
$primaryDarkColor: #383A49//#343543
$primaryLightColor: #F3F5E7
$primaryErrorColor: #FF8361
$deactivatedItemColor: rgba(56, 58, 73, 0.3)

$explorePrimaryColor: #FCFCFC

$mainMapWidth: 900px
$mainMapHeight: 630px

=transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

%small-caps-text
    font-variant: small-caps
    color: $primaryDarkColor
    letter-spacing: .1em

%page-template
    margin-top: 100px
    background-color: $primaryColor
    display: grid

%image-credit
    font-size: 1em
    color: rgba(243, 245, 231, 0.8)
    justify-self: end
    align-self: start

    a
        text-decoration: none
        color: inherit

%button-with-border
    @extend %small-caps-text
    outline: 0
    background-color: transparent
    border-style: solid 
    border-color: $primaryDarkColor
    border-radius: 5px

    &:active
        +transform(scale(0.9))

%button-with-border-hover
    color: $primaryLightColor
    background-color: $primaryDarkColor
    transition: .25s ease-in