.placeholder-main-div,
.not-found-main-div {
    margin-top: 100px;
    background-color: #ABC6FD;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
}

.placeholder-main-div p,
.not-found-main-div p {
    color: #383A49;
    font-size: 2em;
    text-align: center;
    align-self: end;
    font-variant: small-caps;
    letter-spacing: .1em;
}

.placeholder-main-div .image-wrapper,
.not-found-main-div .image-wrapper {
    align-self: start;
    max-height: 500px;
}

.placeholder-main-div img,
.not-found-main-div img {
    height: 500px;
    width: auto;
}

.placeholder-main-div .image-credit,
.not-found-main-div .image-credit {
    color: rgba(243, 245, 231, 0.8);
    margin-right: 35px;
}

.placeholder-main-div .image-credit a,
.not-found-main-div .image-credit a {
    text-decoration: none;
    color: inherit;
}